@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans-Regular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/OpenSans.woff") format("woff"),
        url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "FoundryMonolineOT3-Bold";
    src: url("../fonts/FoundryMonolineOT3-Bold.eot");
    src: url("../fonts/FoundryMonolineOT3-Bold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/FoundryMonolineOT3-Bold.woff2") format("woff2"),
        url("../fonts/FoundryMonolineOT3-Bold.woff") format("woff"),
        url("../fonts/FoundryMonolineOT3-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
