div.menu
    div.menu__logotype
        img(src="images/logotype.svg").menu__logotype-img
    ul.menu__info-list
        li.menu__info-list-item +7 (495) 973-99-50
        li.menu__info-list-item &#169 ЗАО &#171Тройка Red&#187
    ul.menu__main-list
        div.line
        div.line
        div.line
        li.menu__main-list-item Функции
        li.menu__main-list-item О компании
        li.menu__main-list-item Объекты
        li.menu__main-list-item Контактная информация

