.navigation {
    font-size:1.2em;
    position:absolute;
    left:1080px;
    margin-top:74px;
    margin-left:0px;
    width:202px;
    box-sizing:border-box;
    &__select-year {
        display:block;
        width:100%;
        box-sizing:border-box;
        &-item {
            cursor: pointer;
            box-sizing:border-box;
            width:33%;
            display:inline-block;
            padding:1em;
            &:hover {
                color:rgba(239,83,52,.8);
            }
        }
    }
    &__select-month {
        display:block;
        &-item {
            cursor: pointer;
            width:100%;
            display:block;
            box-sizing:border-box;
            text-align:right;
        }
    }
}
.hover-element {
    height:100%;
    display:inline-block;
    padding:0.4em;
    box-sizing:border-box;
    cursor: pointer;
}
label {
    cursor: pointer;
}
