div.gallery
    h1.gallery__header Жилой дом
    p.gallery__content-definition hrough the people and topics that we feature our aim is to inspire and encourage our readers to actively explore their own aspirations. Another Escape is comprised of a mix of
    div.gallery__list.gallery__list_house
        mixin listLink(links)
            -each item in links
                a.image.flip.gallery__list-item(href="images/" + item + "-big.jpg")
                    img.gallery__list-item.front(src="images/" + item + ".svg")
                    img.gallery__list-item.back(src="images/back.svg")
        +listLink(["1","2","3","4","5","2","3","1","2"])
        a.image.flip.gallery__list-item(href="images/video-big.jpg")
            img.gallery__list-item.front(src="images/video.svg")
            img.gallery__list-item.back(src="images/back-video.svg")

    h1.gallery__header.gallery-not-active Школа
    p.gallery__content-definition.gallery-not-active hrough the people and topics that we feature our aim is to inspire and encourage our readers
    div.gallery__list.gallery-block2-activator.gallery__list_school.gallery-not-active
        +listLink(["7","8","9"])
