div.navigation
    input(type="radio" name="year" id="year2015" checked="checked")
    input(type="radio" name="year" id="year2013")
    input(type="radio" name="year" id="year2014")
    ul.navigation__select-year
        li.navigation__select-year-item.navigation__select-year-item_year2015
            label(for="year2015") 2015
        li.navigation__select-year-item.navigation__select-year-item_year2014
            label(for="year2014") 2014
        li.navigation__select-year-item.navigation__select-year-item_year2013
            label(for="year2013") 2013

      <!--list-select-month-2015-->
    ul.navigation__select-month.navigation__select-month_2015
        li.navigation__select-month-item.navigation__select-month-item_december2015
            span.hover-element.not-active
                label(for="december2015") Декабрь
        li.navigation__select-month-item.navigation__select-month-item_november2015
            span.hover-element.not-active
                label(for="november2015") Ноябрь
        li.navigation__select-month-item.navigation__select-month-item_october2015
            span.hover-element.not-active
                label(for="october2015") Октябрь
        li.navigation__select-month-item.navigation__select-month-item_september2015
            span.hover-element.not-active
                label(for="september2015") Сентябрь
        li.navigation__select-month-item.navigation__select-month-item_august2015
            span.hover-element
                label(for="august2015") Август
        li.navigation__select-month-item.navigation__select-month-item_july2015
            span.hover-element
                label(for="july2015") Июль
        li.navigation__select-month-item.navigation__select-month-item_june2015
            span.hover-element
                label(for="june2015") Июнь
        li.navigation__select-month-item.navigation__select-month-item_may2015
            span.hover-element
                label(for="may2015") Май
        li.navigation__select-month-item.navigation__select-month-item_april2015
            span.hover-element
                label(for="april2015") Апрель
        li.navigation__select-month-item.navigation__select-month-item_march2015
            span.hover-element
                label(for="march2015") Март
        li.navigation__select-month-item.navigation__select-month-item_february2015
            span.hover-element
                label(for="february2015") Февраль
        li.navigation__select-month-item.navigation__select-month-item_january2015
            span.hover-element
                label(for="january2015") Январь


                <!--list-select-month-2014-->
    ul.navigation__select-month.navigation__select-month_2014
        li.navigation__select-month-item.navigation__select-month-item_december2014
            span.hover-element
                label(for="december2014") Декабрь
        li.navigation__select-month-item.navigation__select-month-item_november2014
            span.hover-element
                label(for="november2014") Ноябрь
        li.navigation__select-month-item.navigation__select-month-item_october2014
            span.hover-element
                label(for="october2014") Октябрь
        li.navigation__select-month-item.navigation__select-month-item_september2014
            span.hover-element
                label(for="september2014") Сентябрь
        li.navigation__select-month-item.navigation__select-month-item_august2014
            span.hover-element
                label(for="august2014") Август
        li.navigation__select-month-item.navigation__select-month-item_july2014
            span.hover-element
                label(for="july2014") Июль
        li.navigation__select-month-item.navigation__select-month-item_june2014
            span.hover-element
                label(for="june2014") Июнь
        li.navigation__select-month-item.navigation__select-month-item_may2014
            span.hover-element
                label(for="may2014") Май
        li.navigation__select-month-item.navigation__select-month-item_april2014
            span.hover-element
                label(for="april2014") Апрель
        li.navigation__select-month-item.navigation__select-month-item_march2014
            span.hover-element
                label(for="march2014") Март
        li.navigation__select-month-item.navigation__select-month-item_february2014
            span.hover-element
                label(for="february2014") Февраль
        li.navigation__select-month-item.navigation__select-month-item_january2014
            span.hover-element
                label(for="january2014") Январь


                <!--list-select-month-2013-->
    ul.navigation__select-month.navigation__select-month_2013
        li.navigation__select-month-item.navigation__select-month-item_december2013
            span.hover-element
                label(for="december2013") Декабрь
        li.navigation__select-month-item.navigation__select-month-item_november2013
            span.hover-element
                label(for="november2013") Ноябрь
        li.navigation__select-month-item.navigation__select-month-item_october2013
            span.hover-element
                label(for="october2013") Октябрь
        li.navigation__select-month-item.navigation__select-month-item_september2013
            span.hover-element
                label(for="september2013") Сентябрь
        li.navigation__select-month-item.navigation__select-month-item_august2013
            span.hover-element
                label(for="august2013") Август
        li.navigation__select-month-item.navigation__select-month-item_july2013
            span.hover-element.not-active
                label(for="july2013") Июль
        li.navigation__select-month-item.navigation__select-month-item_june2013
            span.hover-element.not-active
                label(for="june2013") Июнь
        li.navigation__select-month-item.navigation__select-month-item_may2013
            span.hover-element.not-active
                label(for="may2013") Май
        li.navigation__select-month-item.navigation__select-month-item_april2013
            span.hover-element.not-active
                label(for="april2013") Апрель
        li.navigation__select-month-item.navigation__select-month-item_march2013
            span.hover-element.not-active
                label(for="march2013") Март
        li.navigation__select-month-item.navigation__select-month-item_february2013
            span.hover-element.not-active
                label(for="february2013") Февраль
        li.navigation__select-month-item.navigation__select-month-item_january2013
            span.hover-element.not-active
                label(for="january2013") Январь
