
mixin label(month, year)
    -var month;
    -function monthRU(s){return s.slice(0,-3);}
    -function active(val){if(val.slice(-3)=="-na"){return "not-active";}else{return "";}}
    -each val, key in month
        ul.navigation__select-month(class="navigation__select-month_"+year)
            li.navigation__select-month-item(class="navigation__select-month-item_"+key+year)
                span.hover-element(class=active(val))
                    label(for=key+year) #{monthRU(val)}




div.navigation
    input(type="radio" name="year" id="year2015" checked="checked")
    input(type="radio" name="year" id="year2013")
    input(type="radio" name="year" id="year2014")
    ul.navigation__select-year
        li.navigation__select-year-item.navigation__select-year-item_year2015
            label(for="year2015") 2015
        li.navigation__select-year-item.navigation__select-year-item_year2014
            label(for="year2014") 2014
        li.navigation__select-year-item.navigation__select-year-item_year2013
            label(for="year2013") 2013

    +label({december: 'Декабрь-na', november: "Ноябрь-na", october: "Октябрь-na", september: "Сентябрь-na", august: "Август-ac", july: "Июль-ac", june: "Июнь-ac", may: "Май-ac", april: "Апрель-ac", march: "Март-ac", february: "Февраль-ac", january: "Январь-ac"}, 2015)
    +label({december: 'Декабрь-ac', november: "Ноябрь-ac", october: "Октябрь-ac", september: "Сентябрь-ac", august: "Август-ac", july: "Июль-ac", june: "Июнь-ac", may: "Май-ac", april: "Апрель-ac", march: "Март-ac", february: "Февраль-ac", january: "Январь-ac"}, 2014)
    +label({december: 'Декабрь-ac', november: "Ноябрь-ac", october: "Октябрь-ac", september: "Сентябрь-ac", august: "Август-ac", july: "Июль-na", june: "Июнь-na", may: "Май-na", april: "Апрель-na", march: "Март-na", february: "Февраль-na", january: "Январь-na"}, 2013)
