
#august2013:checked~.wrapper .gallery .gallery-not-active {
    display:none;
}
#july2013:checked~.wrapper .gallery .gallery-not-active {
    display:none;
}
#june2013:checked~.wrapper .gallery .gallery-not-active {
    display:none;
}
#may2013:checked~.wrapper .gallery .gallery-not-active {
    display:none;
}
#april2013:checked~.wrapper .gallery .gallery-not-active {
    display:none;
}
#march2013:checked~.wrapper .gallery .gallery-not-active {
    display:none;
}
#february2013:checked~.wrapper .gallery .gallery-not-active {
    display:none;
}
#january2013:checked~.wrapper .gallery .gallery-not-active {
    display:none;
}
