input(type="radio" name="month" id="january2013" class="radiobutton")
input(type="radio" name="month" id="february2013" class="radiobutton")
input(type="radio" name="month" id="march2013" class="radiobutton")
input(type="radio" name="month" id="april2013" class="radiobutton")
input(type="radio" name="month" id="may2013" class="radiobutton")
input(type="radio" name="month" id="june2013" class="radiobutton")
input(type="radio" name="month" id="july2013" class="radiobutton")
input(type="radio" name="month" id="august2013" class="radiobutton")
input(type="radio" name="month" id="september2013" class="radiobutton")
input(type="radio" name="month" id="october2013" class="radiobutton")
input(type="radio" name="month" id="november2013" class="radiobutton")
input(type="radio" name="month" id="december2013" class="radiobutton")
input(type="radio" name="month" id="january2014" class="radiobutton")
input(type="radio" name="month" id="february2014" class="radiobutton")
input(type="radio" name="month" id="march2014" class="radiobutton")
input(type="radio" name="month" id="april2014" class="radiobutton")
input(type="radio" name="month" id="may2014" class="radiobutton")
input(type="radio" name="month" id="june2014" class="radiobutton")
input(type="radio" name="month" id="july2014" class="radiobutton")
input(type="radio" name="month" id="august2014" class="radiobutton")
input(type="radio" name="month" id="september2014" class="radiobutton")
input(type="radio" name="month" id="october2014" class="radiobutton")
input(type="radio" name="month" id="november2014" class="radiobutton")
input(type="radio" name="month" id="december2014" class="radiobutton")
input(type="radio" name="month" id="january2015" class="radiobutton")
input(type="radio" name="month" id="february2015" class="radiobutton")
input(type="radio" name="month" id="march2015" class="radiobutton")
input(type="radio" name="month" id="april2015" class="radiobutton")
input(type="radio" name="month" id="may2015" class="radiobutton")
input(type="radio" name="month" id="june2015" class="radiobutton")
input(type="radio" name="month" id="july2015" class="radiobutton")
input(type="radio" name="month" id="august2015" class="radiobutton")
input(type="radio" name="month" id="september2015" class="radiobutton")
input(type="radio" name="month" id="october2015" class="radiobutton")
input(type="radio" name="month" id="november2015" class="radiobutton")
input(type="radio" name="month" id="december2015" class="radiobutton")
